<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="greet.css"> 
</head>
<body>
    <div class="outer">
        <a href="http://127.0.0.1:5501/Projects/home.html">Home</a>
        <a href="https://www.w3schools.com/java/">About</a>
        <a href="http://127.0.0.1:5501/Projects/service.html">Service</a>
        <a href="http://127.0.0.1:5501/Projects/Contacts.html">Contacts</a>
    </div>
    <h1>What is Java?</h1>
    <p id="de">Developed by Sun Microsystems in 1995, Java is a highly popular, object-oriented programming language. This platform independent programming language is utilized for Android development, web development, artificial intelligence, cloud applications, and much more.<br><br>

        In this tutorial, we will cover everything from the basics of Java syntax to advanced topics like object-oriented programming and exception handling. So, by the end of this tutorial, you will have a strong understanding of Java and be ready to start writing your own Java applications. So let’s get started on this comprehensive Java programming tutorial!</p>
    <h2>First Java Program</h2>  
    <pre>
        <span class="s">// A Java program to print "Hello World" </span>
        <span>public class</span> GFG { 
            <span>public static void main</span>(String args[]) 
            { 
                System.out.println("<span>Hello World</span>"); 
            } 
        }</pre>
        <h4>Output:</h4>
        <p class="he">Hello World</p>
        <h1>Java Hello World Program</h1>
        <p>Java is one of the most popular and widely used programming languages and platforms. Java is fast, reliable, and secure. Java is used in every nook and corner from desktop to web applications, scientific supercomputers to gaming consoles, cell phones to the Internet. In this article, we will learn how to write a simple Java Program.</p>
        <h2>Steps to Implement Java Program</h2>
        <p>Implementation of a Java application program involves the following step. They include:</p>
        <ul>
            <ol>
                <li>Creating the program</li>
                <li>Compiling the program</li>
                <li>Running the program</li>
            </ol>
        </ul>
        <h5>1.Creating Programs in Java</h5>
        <p>We can create a program using Text Editor (Notepad) or IDE (NetBeans)</p>
        <pre>
            <span>class </span>Test
            {
                <span>public static void main</span>(String []args)
                {
                    System.out.println("<span>My First Java Program.</span>");
                }
            };</pre>

            <h5>2.Compiling the Program in Java</h5>
            <p>To compile the program, we must run the Java compiler (javac), with the name of the source file on the “command prompt” like as follows<br> <br>

                If everything is OK, the “javac” compiler creates a file called “Test.class” containing the byte code of the program.</p>
            <h5>3.Running the Program in Java</h5>
            <p>We need to use the Java Interpreter to run a program. Java is easy to learn, and its syntax is simple and easy to understand. It is based on C++ (so easier for programmers who know C++).<br><br>

                The process of Java programming can be simplified in three steps: </p>
            <ul>
                <li>Create the program by typing it into a text editor and saving it to a file – HelloWorld.java.</li>
                <li>Compile it by typing “javac HelloWorld.java” in the terminal window.</li>
                <li>Execute (or run) it by typing “java HelloWorld” in the terminal window.</li>

            </ul>
            <br>
            <p>The below-given program is the most simple program of Java printing “Hello World” to the screen. Let us try to understand every bit of code step by step.</p>
            <br>
            <pre><span class="s">
                // This is a simple Java program.
                // FileName : "HelloWorld.java".</span>
                 
                <span>class</span> HelloWorld {
                    <span class="s">// Your program begins with a call to main().
                    // Prints "Hello, World" to the terminal window.</span>
                    <span>public static void main</span>(String args[])
                    {
                        System.out.println("<span>Hello, World</span>");
                    }
                }</pre>
                <br>
                <h4>Output</h4>
                <p class="he">Hello, World</p>
</body>
</html>